<style>
  .jitsiAVDeprecation .window-content > * {
    flex: 0;
  }
</style>
<h1><b>Jitsi WebRTC client</b> is deprecated</h1>
<h2>Deprecation warning</h2>
<p>
  Due to ongoing complications combined with a change from Jitsi that
  <a href="https://github.com/luvolondon/fvtt-module-jitsiwebrtc/issues/98"
    >removes access to their public server</a
  >, this module is now deprecated and no longer maintained.
</p>
<h2>More information</h2>
<p>
  For more details, please see the github issue:
  <a href="https://github.com/luvolondon/fvtt-module-jitsiwebrtc/issues/99"
    >Module is deprecated and unmaintained</a
  >.
</p>
<p>
  If you are interested in taking over maintenance of the project, please
  contact <b><i>bekit#4213</i></b> on Discord.
</p>
<h2>Need a replacement?</h2>
<p>
  The
  <a href="https://foundryvtt.com/packages/avclient-livekit"
    >LiveKit AVClient</a
  >
  module is available as a more modern alternative A/V Client.
</p>
<h2>Acknowledgements</h2>
<p>
  Thank you to all the contributors and users of the project. Special thanks to
  <b><i>luvolondon</i></b> for the initial development efforts!
</p>
<h1></h1>
<p
  style="
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  "
>
  <input type="checkbox" class="show-again" id="welcome-screen-show-again" />
  <label for="welcome-screen-show-again"
    >Don't show this screen again until next update.</label
  >
</p>
